@font-face {
    font-family: inter;
    src: url('@/assets/fonts/Inter.ttf');
}

@font-face {
    font-family: noto;
    src: url('@/assets/fonts/NotoSansMonoCJKsc-Regular.ttf');
}

body {
  @apply font-noto;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}
